__pycache__
secrets.py
API_KEYS.txt
Final_Proj_Proposal_taylmarl.docx
Final_Proj_Proposal_taylmarl.pdf
final_cache.json
~$nal_Proj_Proposal_taylmarl.docx
Final_Proj_Checklist_taylmarl.docx
Si507Proj.sqlite

