<head>
    <meta charset="UTF8"/>
    <title>Sorry about that!</title>
</head>

<style>
    h1, h2 {
        text-align: center;
        color:rgb(209, 64, 53)
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
</style>


<body>
    <h1>The Zipcode that you tried searching is not valid. Please go back and try a valid, 5-digit zipcode!</h1><br/><br/>
    <h2>If you are unsure of a valid zipcode, try one of the examples presented on the home page.</h2><br/><br/>

    <img src="https://media.giphy.com/media/4no7ul3pa571e/giphy.gif" >

</body>
</html>